config.edn
*.class
wtf.log
*.jar
*.map
*~
.nrepl-port
.repl/
/.lein-*
/.nrepl-port
/checkouts
/classes
/target
djdash-min.js
djdash.js
out/
dev/
release/
pom.xml
pom.xml.asc
cache/
target/
*-init.clj
.#*
resources/public/js/release