
body {
  background: #333;
  color: #cdcdcd;
  margin: 3em auto;
}

div.led { 
  float:left; 
}

.controls .btn-lg { 
  margin-right: 1em; 
}



#users {
  width: 200px;
  overflow: auto;
  border: 1px solid #666;
  padding: 8px;
}


.old-messages {
  width: 100%;
  overflow: auto;
  border: 1px solid #666;
  padding: 8px;
}

input { color: black; }

button { color: black; }


.list-group{   
  background-color: #333;
  color: #cdcdcd;
}

.list-group-item{   
  background-color: #333;
  color: #cdcdcd;
}

.handle { color: #9AAB07 }

.text-label { 
  color: #8CF5AB;
  margin-right: 4px;
}

/* cough, hack */
.paddy { 
  margin-right: 6px;
}


/* hack, use bootstrap instead */
#chatinput {width: 800px }


#listener-chart { 
  height: 200px;
}