{:timbre {:level :debug
          :spit-filename "/mnt/sdcard/tmp/web.log4j"}
 :tailer {:fpath "/mnt/sdcard/tmp/foo"
          :bufsiz 10000
          :file-check-delay 2000
          :chunk-delay 10000}
 :hubzilla {:url "https://somewhere"
            :channel "sumchannel"
            :listen "http://spaz.org/radio"
            :timeout-ms 10000
            :max-timeout-ms 60000
            :bump-factor 1.5
            :login "someuser"
            :pw "somepass"}
 :db {:db "djdash"
      :user "test"
      :password "test"
      :host "localhost"
      :port 5432}
 :geo {:api-key "key-here"
       :max-retries 5
       :retry-wait 5000
       :ratelimit-delay-ms 500
       :url "http://api.ipinfodb.com/v3/ip-city/"}
 :now-playing {:check-delay 10000
               :host "localhost"
               :adminuser "admin"
               :song-mount "radio"
               :adminpass "hackme"
               :fake-json-file "/home/www/playing-logs/playing"
               :fake-jsonp-file "/home/www/playing-logs/playing-jsonp"
               :port 8050}
 :scheduler {:url "http://localhost/schedule-test/week-info"
             :ical-file "/home/www/spazradio.ics"
             :up-next-file "/home/www/up-next"
             :json-schedule-file "/home/www/spazradio.json"
             :check-delay 60000}
 :web-server {:mode :dev
              :port 8080
              :chat-url "http://lamp/spaz/radio/chatster/doUpdate.php"}}
