{:timbre {:level :trace
          :spit-filename "/mnt/sdcard/tmp/web.log4j"}
 :tailer {:fpath "/mnt/sdcard/tmp/foo"
          :bufsiz 10000
          :file-check-delay 2000
          :chunk-delay 10000}
 :db {:db "x"
      :user "x"
      :password "x"
      :host "localhost"
      :port 5432}
 :geo {:api-key "x"
       :max-retries 5
       :retry-wait 5000
       :ratelimit-delay-ms 500
       :url "x"}
 :now-playing {:check-delay 10000
               :host "localhost"
               :song-mount "radio"
               :fake-json-file "/home/www/playing-logs/playing"
               :fake-jsonp-file "/home/www/playing-logs/playing-jsonp"
               :adminuser "admin"
               :adminpass "x"
               :port 8040}
 :scheduler {:url  "http://airtime.knyo.org/api/week-info"
             :ical-file "/home/www/knyo.ics"
             :check-delay 60000
             :json-schedule-file "/home/www/knyo.json"
             :up-next-file "/home/www/up-next"}
 :web-server {:mode :dev
              :port 8080
              :cljs {:chat {:history_url "http://localhost:8080/chatlog"
                            :serv "radio.spaz.org"
                            :presence_chan "testpres"
                            :port 1884
                            :chan "test"
                            :timeout 10000}}}}
