{:tailer {:fpath "/tmp/master-buffer.log"
          :bufsiz 10000
          :file-check-delay 1000
          :chunk-delay 10000}
 :hubzilla {:url "https://somewhere"
            :channel "sumchannel"
            :timeout-ms 60000
            :max-timeout-ms 600000
            :bump-factor 1.4
            :listen "http://spaz.org/radio"
            :login "someuser"
            :pw "somepass"}
 :now-playing {:check-delay 5000
               :host "some.host.com"
               :adminuser "admin"
               :song-mount "radio"
               :adminpass "hackme"
               :fake-json-file "/home/streams/playing"
               :fake-jsonp-file "/home/streams/playing-jsonp"
               :port 8050}
 :db {:db "djdash"
      :user "test"
      :password "test"
      :host "localhost"
      :port 5432}
 :nrepl {:port 7778}
 :geo {:api-key "key-here"
       :ratelimit-delay-ms 500
       :max-retries 5
       :retry-wait 5000
       :url "http://api.ipinfodb.com/v3/ip-city/"}
 :scheduler {:url "http://radio.spaz.org/api/week-info"
             :ical-file "/home/streams/spazradio.ics"
             :json-schedule-file "/home/streams/spazradio.json"
             :up-next-file "/home/streams/up-next"
             :check-delay 10000}
 :web-server {:port 8080
              :chat-url "http://spaz.org/radio/chatster/doUpdate.php"
              :mode :release}
 :timbre {:level :info
          :spit-filename "/tmp/web.log"}}
