<div id="inspect"></div>

<script src="js/dev/goog/base.js" type="text/javascript"></script>

<script src="js/djdash.js" type="text/javascript"></script>
<script type="text/javascript">goog.require("djdash.core");</script>
<script type="text/javascript">djdash.core.replconnect();</script>
