<!DOCTYPE html>
<html lang="en">
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9"> 
      <!--[if IE]><script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/excanvas.min.js"></script><![endif]-->
	  <title>DJ Dashboard</title>
	  <link rel="stylesheet" type="text/css" href="{{{base}}}/css/bootstrap.min.css"/>
	  <link rel="stylesheet" type="text/css" href="{{{base}}}/css/main.css"/>
	</head>
	<body>

	  <script type="text/javascript">
		var settings = {{{settings}}};	  
	  </script>

	  
      <div id="content"  class="container-fluid"></div>

	  <script type="text/javascript" src="{{{base}}}/js/jquery.min.js"></script>
	  <script type="text/javascript" src="{{{base}}}/js/jquery.flot.min.js"></script>	  
	  <script type="text/javascript" src="{{{base}}}/js/jquery.flot.time.min.js"></script>
	  <script type="text/javascript" src="{{{base}}}/js/mqttws31.js"> </script>
	  <script type="text/javascript" src="{{{base}}}/js/moreutils.js"></script>
	  <script type="text/javascript" src="{{{base}}}/js/spazchat.js"></script>
	  
	  {{{js-slug}}}
	  
	</body>
  </html>
