
body {
  background: #333;
  color: #cdcdcd;
  margin: 3em auto;
}

div.led { 
  float:left; 
}

.controls .btn-lg { 
  margin-right: 1em; 
}



#users {
  width: 400px;
  overflow: auto;
  border: 1px solid #666;
  padding: 8px;
}


.old-messages {
  width: 100%;
  overflow: auto;
  border: 1px solid #666;
  padding: 8px;
}

input { color: black; }

button { color: black; }


.list-group{   
  background-color: #333;
  color: #cdcdcd;
}

.list-group-item{   
  background-color: #333;
  color: #cdcdcd;
}

.handle { color: #9AAB07 }

.text-label { 
  color: #8CF5AB;
  margin-right: 4px;
}

/* cough, hack */
.paddy { 
  margin-right: 6px;
}


/* hack, use bootstrap instead */
#chatinput {width: 100%; }


#listener-chart { 
  height: 200px;
  width: 100%;
}

#buffer-chart { 
  height: 200px;
  width: 100%;
}

#listener-map { 
  height: 250px;
  width: 100%;
}

.upnext {text-align: left;  }

li.upnext {  list-style-type: none;}

.banner {vertical-align: top;  }

h2 { 
  margin-top: 0px;
  vertical-align: top;}

div.to-top { 
  margin-top: 0px;
  vertical-align: top;}

#messages { width: 100%; }


@media (max-width: 767px) {
  .row {
    margin-right:0;
    margin-left:0;
  }
  .row > [class*='col-'] {
    margin-right:0;
    margin-left:0;
    padding-right:0;
    padding-left:0;
  }
  body {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }
}